@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 98%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 12 100% 61%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 0 0% 90%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent-a: 0 0% 96%;
    --accent-a-foreground: 24 9.8% 10%;

    --accent: 0 0% 90%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 0 0% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 4.31%;
    --foreground: 60 9.1% 97.8%;

    --card: 0 0% 8%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 0 0% 8%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 12 100% 61%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 0 0% 16%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 0 0% 16%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent-a: 0 0% 16%;
    --accent-a-foreground: 60 9.1% 97.8%;

    --accent: 0 0% 26%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 0 0% 16%;
    --input: 0 0% 16%;
    --ring: 20.5 90.2% 48.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*
  Text Rendering
*/
* {
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

/*
  TipTap Editor - Placeholder
*/
div:has(> .tiptap) {
  height: 150px !important;
  width: 290px !important;
}

.editor div:has(> .tiptap) {
  padding: 0 8px !important;
}

.reader div:has(> .tiptap) {
  height: 100% !important;
  width: 100% !important;
}

.reader div:has(> .tiptap) p {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  line-height: 1.4rem !important;
}

.reader div:has(> .tiptap) li p {
  margin: 0 !important;
}

.ProseMirror {
  width: 100% !important;
  height: 100% !important;
  text-wrap: break-word !important;
  white-space: pre-wrap !important;
}

.tiptap {
  height: 100% !important;
  width: 100% !important;
  padding: 6px 0px 6px 0px !important;
}

.tiptap:focus {
  outline: none !important;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.content p {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
}

.content-reddit p {
  max-width: 280px !important;
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
}

.max-for-popupview p {
  width: 100% !important;
  max-width: 460px !important;
}

/*
  Prose
*/
.prose {
  --tw-prose-headings: var(--foreground);
  --tw-prose-body: var(--foreground);
}

.clipmate-grid > div[data-scroll-locked="1"] {
  overflow: hidden !important;
  pointer-events: none !important;
}

/*
  Adjusting Intercom Z-Index
*/
.intercom-lightweight-app,
.intercom-with-namespace-52k34s {
  z-index: 99 !important;
}

/*
  Improving Highlight Contrast (Light Mode)
*/
.prose mark {
}

/*
  Improving Highlight Contrast (Dark Mode)
*/
.dark .prose mark {
  mix-blend-mode: difference !important;
  color: white !important;
}

/*
  Sonner Toast - Transition Improvement
*/
:where([data-sonner-toast]) {
  transition-duration: 0.45s !important;
}
